* {
    padding: 0;
    margin: 0;
}
/*INDEX*/
.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 0fr;
    gap: 0px 0px;
    grid-gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
}
.main {
    grid-area: main;
    background-color: gray;
}
.footer {
    grid-area: footer;
    background-color: gray;
}
.header {
    grid-area: header;
    background-color: gray;
}
.body {
    display: flex;
}
/*Main*/
.main {
    background-image: url(../imagenes/fondoindex.png);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}
.card {
    width: 350px;
    height: 400px;
    border: dodgerblue 4px solid;
    margin: 10px;
    border-radius: 15px;
    padding-top: 0px;
}
.fotos {
    background-image: url(../imagenes/pruebabg4.jfif);
    background-size: cover;
    position: relative;
}
.fotosdos {
    background-image: url(../imagenes/pruebabg3.jpg);
    position: relative;
}
/*Footer*/
.footer {
    align-items: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #283747;
    font-size: larger;
    font-style: normal;
    height: 100px;
    min-width: 728px;
}
/*Header*/
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo h1 {
    margin: 5px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #283747;
    color: grey;
    padding: 20px;
    height: 70px;
    padding-bottom: 15px;
    background-image: linear-gradient(to bottom, #283747, dodgerblue);
}
.lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-top: 10px;
}
.lista li {
    margin: 10px;
    color: grey;
}
.lista li a {
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 0 gray;
    background-color: dodgerblue;
    padding: 10px;
    transform: translateY(2px);
    box-shadow: 0 2px 0 white;
    padding-top: 15px;
}
.lista :hover {
    transform: translateY(2px);
    box-shadow: 2px 0 white;
    transform: scale(1.2);
    transition: all;
}
.asaid {
    margin-top: 0px;
    margin-left: 15px;
    display: flex;
}
/*CONTACTO*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body {
    background-image: url(../imagenes/fondoindex.png);
}
.contact_form {
    width: 460px;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 0px;
    background-color: #fbfbfb;
    padding-left: 30px;
}
input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: dodgerblue;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}
textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: dodgerblue;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}
label {
    display: block;
    float: center;
}
button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: dodgerblue;
    border-color: dodgerblue;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}
button p {
    color: #fff;
}
span {
    color: grey;
}
.aviso {
    font-size: 13px;
    color: #0e0e0e;
}
h1 {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: dodgerblue;
}
h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}
p {
    font-size: 14px;
    color: #0e0e0e;
}
.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}
.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}
/*Matriceria*/
.maindos {
    background-image: url(../imagenes/fondoindex.png);
    display: block;
    margin-top: -40px;
}
.secmatri {
    border: dodgerblue 4px solid;
    background-color: #283747;
    color: dodgerblue;
    font-size: large;
    font-family: serif;
    padding: 15px;
    text-justify: auto;
    text-align: justify;
    margin: 50px;
    margin-top: 15px;
    display: block;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.secma div {
    background-color: dodgerblue;
    border: solid 2px black;
    font-size: 20px;
    padding: 5px;
}
.secma {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 350px;
    justify-content: space-around;
}
.foto {
    background-image: url(../imagenes/matric1.jpg);
}

.fotodos {
    background-image: url(../imagenes/matric2.jfif);
}
.secejemplo {
    list-style: none;
    align-items: center;
    display: flex;
    margin: 5px;
    flex-direction: column;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 0 gray;
    background-color: dodgerblue;
    padding: 10px;
    transform: translateY(2px);
    box-shadow: 0 2px 0 white;
}
/*Medioambiente*/
.grillamedioambiente {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "menuambiente"
      "footer";
  }
  .header { grid-area: header; 
}
  .menuambiente { grid-area: menuambiente; 
}
  .footer { grid-area: footer; 
}
.columna div {
    background-color: #283747;
    padding: 5px;
    justify-items: start;
    border: gray 10px solid;
    background-image: url(../imagenes/mediambiente1.jfif);
}
.columna {
    display: grid;
    grid-template-rows: 146px 150px 146px;
    width: 150px;
    margin-bottom: 129px;
}
.medio div {
    padding-left: 15px;
    display: flex;
    font-size: large;
    background-color: gray;
}
/*Sistemas*/
.grillasistema{
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1.3fr;
    grid-template-rows: 0fr 1.2fr 1.1fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "content content content"
        "content content content"
        "footer footer footer";
}
.header {
    grid-area: header;
}
.footer {
    grid-area: footer;
}
.content {
    grid-area: content;
}
.content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.contenedor {
    width: 350px;
    height: 400px;
    border: dodgerblue 4px solid;
    margin: 10px;
    border-radius: 15px;
    display: flex;
}
.sis {
    list-style: none;
    align-items: center;
    display: flex;
    margin: 5px;
    flex-direction: column;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 0 gray;
    background-color: dodgerblue;
    padding: 10px;
    transform: translateY(2px);
    box-shadow: 0 2px 0 white;
}
.sistemauno {
    background-image: url(../imagenes/neumatico.jpg);
    background-size: cover;
    position: relative;
    list-style: none;
}
.sistemados {
    background-image: url(../imagenes/hidraulico.jpg);
    background-size: cover;
    position: relative;
    list-style: none;
}
/*Responsive INDEX media mobile*/
@media (max-width: 425px) {
    .grilla {
        grid-auto-flow: row;
        grid-template-areas:
            "header header header"
            "main main main"
            "asaid asaid asaid"
            "footer footer footer";
    }
    .header {
        display: flex;
        padding: 97px;
        background-image: linear-gradient(to bottom, #283747, dodgerblue)
    }
    .logo {
        display: none;
        background-color: none;
    }
    .lista {
        flex-direction: column;
        text-decoration: none;
        color: white;
        border-radius: 2px;
        box-shadow: none;
        background-color: none;
        padding: 0px;
        transform: translateY(2px);
        box-shadow: none;
        padding-top: 0px;
        justify-content: center;
    }
    .lista li {
        margin: 2px;
        border: none;
        background-color: none;
    }
    .lista li a {
        display: flex;
        border: none;
        background-color: none;
        flex-direction: column;
    }
    .main {
        flex-direction: column;
    }
    .content{
        display: flex;
        flex-direction: column;
    }

}

/*Responsive Sistemas media mobile*/
@media (max-width: 425px) {
    .grillasistema {
        grid-auto-flow: row;
        grid-template-areas:
            "header header header"
            "content content content"
            "content content content"
            "footer footer footer";
    }

    .content{
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex;
        padding: 97px;
        background-image: linear-gradient(to bottom, #283747, dodgerblue)
    }

    .logo {
        display: none;
        background-color: none;
    }

    .lista {
        flex-direction: column;
        text-decoration: none;
        color: white;
        border-radius: 2px;
        box-shadow: none;
        background-color: none;
        padding: 0px;
        transform: translateY(2px);
        box-shadow: none;
        padding-top: 0px;
        justify-content: center;
    }

    .lista li {
        margin: 2px;
        border: none;
        background-color: none;
    }

    .lista li a {
        display: flex;
        border: none;
        background-color: none;
        flex-direction: column;
    }
    .bodycontac{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: wrap;

    }
    .bodymatriceria{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: wrap;
    }

}
